.contact{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
}

.contact__img{
    width: 60%;
    /* height: 50%; */
    background-image: url('../../public/images/5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
}

.contact__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
   
}

